extends layout

block content
  p= "Hola. Indica los parámetros adecuados. Deben ser 3 enteros. Por ejemplo: https://dd4w-challenge.herokuapp.com/3/6/8"
  br
  br
  br
  .profile
    img(src="images/github_icon.jpg") 
    a(href='github.com/KarlyGrCm/DD4W-challenge') @KarlyGrCm
